In [1]:
import pandas as pd
from pathlib import Path

In [2]:
#file to load
school_file = Path("schools_complete.csv")
student_file = Path("students_complete.csv")

In [3]:
#read files
School_df=pd.read_csv(school_file)
student_df=pd.read_csv(student_file)
School_df
student_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [7]:
# Merge files
School_data_complete = pd.merge(School_df,student_df, how = "left", on = ['school_name', 'school_name'] )
School_data_complete.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [12]:
#Calculate the school totals
School_count = len(School_data_complete.value_counts("school_name"))
School_count

15

In [38]:
#Calculate the student totals
Student_total = len(School_data_complete.value_counts("Student ID"))
Student_total

39170

In [57]:
#Calculate total budget between all schools
budget_total = School_data_complete["budget"].unique().sum()
budget_total

24649428

In [58]:
#Calculate average math scores
average_math = School_data_complete["math_score"].mean()
average_math

78.98537145774827

In [59]:
#Calculate average reading scores
average_reading = School_data_complete["reading_score"].mean()
average_reading

81.87784018381414

In [63]:
# % of students who passed math
passing_math_count = School_data_complete[(School_data_complete["math_score"]>=70)].count()["student_name"]
student_count = School_data_complete.count()["student_name"]
passing_math_pct = passing_math_count / float(student_count)*100
passing_math_pct

74.9808526933878

In [64]:
#% of students who passed reading
passing_reading_count = School_data_complete[(School_data_complete["reading_score"]>=70)].count()["student_name"]
student_count = School_data_complete.count()["student_name"]
passing_reading_pct = passing_reading_count / float(student_count)*100
passing_reading_pct

85.80546336482001

In [67]:
#% of students who passed both Math and reading
pass_math_reading_count = School_data_complete[(School_data_complete["math_score"]>=70) & (School_data_complete["reading_score"]>=70)].count()["student_name"]
student_count = School_data_complete.count()["student_name"]
pass_math_reading_pct = pass_math_reading_count / float(student_count)*100
pass_math_reading_pct

65.17232575950983

In [85]:
District_Summary = pd.DataFrame({"School Count": [School_count], "Student Total": [Student_total], "Total Budget": [budget_total]})
District_Summary

   School Count  Student Total  Total Budget
0            15          39170      24649428